/* General Styles */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    margin: 0;
    color: #1b1b1b;
    height: 100vh;
}

body:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #81d4fa, #b8e4f9) no-repeat;
    background-size: cover;
    z-index: -1;
}

p {
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    gap: 0.9rem;
}

.main-wrapper {
    width: 75%;
    margin: auto;
    flex: 1 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.grid-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

.card {
    background-image: linear-gradient(to bottom, #0d1c5d, #2836b1);
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem #1b1b1b;
}

.card img {
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem -0.1rem #000;
    width: 15rem;
}

footer {
    flex-shrink: 0;
}

/* Navigation */

nav {
    position: sticky;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #2a4d67, #4f77a9);
    width: 100%;
    padding: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
}

nav li a:link, nav li a:visited {
    text-decoration: none;
    padding: 0.5rem;
    color: #fff;
}

nav li a:hover, nav li a:focus, nav li a:active {
    color: #858dcd;
}

/* Headers */

header {
    padding: 1rem;
    background-image: linear-gradient(to bottom, #560303, #b20814);
    color: #fff;
}

header p {
    font-style: italic;
}

header img {
    border-radius: 0.5rem;
}

/* Images */

.display-img {
    border-radius: 0.7rem;
    box-shadow: 0.1rem 0.1rem 0.1rem -0.1rem #000;
    display: block;
    margin: 0 auto;
    width: 25rem;
}

/* Forms */

form {
    width: 80%;
    margin: auto;
}

input, textarea {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.2rem;
}

.input-form.card {
    width: 60%;
    margin: 1rem auto;
}

.input-form header {
    background: transparent;
    max-width: 80%;
    margin: auto;
}

.form-row {
    margin-bottom: 1rem;
    border-radius: 0.1rem;
    padding: 0.5rem;
    width: 100%;
}

.form-row textarea {
    display: block;
    width: 100%;
    min-width: 5rem;
}

.submit-btn {
    font-size: 1.1rem;
    cursor: pointer;
    background: #13132b;
    color: #bbc3fb;
    padding: 0.7rem 0.9rem;
    border: none;
}

/* Home Page */

.main-link:link, .main-link:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 10rem;
    color: #212a8e;
    font-weight: bold;
    line-height: 10;
}

.main-link:hover, .main-link:focus, .main-link:active {
    color: #054f99;
}

#about-link, #team-link, #contact-link, #join-link {
    position: relative;
}

#about-link:before,
#team-link:before,
#contact-link:before,
#join-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#about-link:before {
    background-image: url("../images/home-about.jpg");
}

#team-link:before {
    background-image: url("../images/home-team.jpg");
}

#contact-link:before {
    background-image: url("../images/home-contact.jpg");
}

#join-link:before {
    background-image: url("../images/home-join.jpg");
}

/*  Smaller Screens */

@media screen and (max-width: 1000px) {

    .grid-col-3 {
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 18.75rem;
    }

    header img {
        width: 9.4rem;
    }
}

@media screen and (max-width: 760px) {

    .grid-col-3 {
        grid-template-columns: 1fr;
    }

    img {
        width: 12.5rem;
    }

    header img {
        width: 6.25rem;
    }

    .display-img {
        max-width: 15rem;
    }

    input, textarea {
        font-size: 0.9rem;
        line-height: 1;
    }

    .input-form.card {
        width: 100%;
        margin: 0.5rem auto;
    }

    .input-form form {
        max-width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 460px) {
    .flex-container {
        flex-direction: column;
    }

    nav .flex-container, header.flex-container {
        flex-direction: row;
        padding: 1.2rem;
        gap: 0.2rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
