{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Katie Janzen - {% block title %}{% endblock %}</title>
    <meta name="author" content="Katie Janzen" />
    <meta
        name="description"
        content="Personal portfolio site for Katie Janzen, web developer {% block page %}{% endblock %}"
    />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="canonical" href="{% block page_url %}{% endblock %}" />
</head>
<body class="d-flex flex-column h-100 mw-100 position-relative">
    {% include 'partials/messages.html' %}

    {% include 'partials/nav.html' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>