{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Contact{% endblock %}

{% block content %}

    <section>
        <div class="innerPageBannerCol mt-5">
            <div class="container">
                <div class="row g-4 g-md-3 align-items-center">
                    <div class="col-md-6">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-md-3 shadowHeading">
                                {% trans 'Feel free to send me a message!' %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container lightBg rounded p-3">
            <form id="contactForm" method="POST" action="{% url 'main_site:contact' %}">
                {% csrf_token %}
                <div class="form-row">
                    <label for="name" class="form-label">{% trans 'Name' %}</label>
                    {{ form.name }}
                </div>
                <div class="form-row">
                    <label for="email" class="form-label">{% trans 'Email' %}</label>
                    {{ form.email }}
                    <small id="emailHelp" class="form-text text-muted">
                        {% trans "I won't share your email with anyone else!" %}
                    </small>
                </div>
                <div class="form-row">
                    <label for="message" class="form-label">{% trans 'Message' %}</label>
                    {{ form.message }}
                </div>
                <div class="form-row">
                    <input
                        class="btn btnPrimary form-control"
                        type="submit"
                        value="{% trans 'Send' %}"
                    />
                </div>
            </form>
        </div>
    </section>
{% endblock %}