{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block page %}home page{% endblock %}

{% block page_url %}{% url 'main_site:home' %}{% endblock %}

{% block content %}
    <!-- User Information -->
    <section>
        <div class="bannerSection vh-100">
            <div class="container">
                <div class="bannerGrid g-4 g-md-3 align-items-center mx-auto">
                    <!-- User Avatar -->
                    <div class="col-md-auto order-md-last right">
                        <figure class="bannerUserImg rounded-circle position-relative mw-100 ms-3">
                            <img
                                src="{% static 'images/avatar.jpg' %}"
                                alt="avatar"
                                class="rounded-circle position-relative mw-100 mx-auto"
                            />
                        </figure>
                    </div>
                    <div class="col-md top-left">
                        <h1 class="xlTitle pb-3 shadowHeading">
                            {{ me.name }}
                        </h1>
                        <p class="lgTitle subtitle shadowHeading">{{ me.title }}</p>
                    </div>
                    <div class="col-md bottom-left">
                        <!-- User Info -->
                        <div class="bannerContent">
                            <p>{{ me.bio }}</p>
                            <div class="bannerBtnCol pt-1">
                                <div class="row">
                                    <div class="col-auto">
                                        <a
                                            href="{{ me.resume.url }}"
                                            download
                                            class="btn btnPrimary"
                                        >
                                            {% trans 'Download Resume' %}
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <a
                                            href="{% url 'main_site:contact' %}"
                                            class="btn btnOutline"
                                        >
                                            {% trans 'Contact' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="home_content pt-5">
        <!-- Technologies -->
        <section class="container">
            <h3 class="lgTitle shadowHeading d-block underlined">
                {% trans 'Languages and Technologies' %}
            </h3>
            <div class="primaryDark w-75 mx-auto p-3 tech-grid">
                {% for tech in technologies %}
                    <div class="p-2">
                        <img
                            src="{{ tech.image.url }}"
                            alt="{{ tech.name }}"
                            class="d-block m-auto shadow tech-img"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="{{ tech.name }}"
                        />
                    </div>
                {% endfor %}
            </div>
            <div class="mt-3 p-2">
                <p>{{ me.site_blurb }}</p>
            </div>
        </section>
        <!-- Projects Section -->
        <section class="mt-5 py-5 container">
            <div class="row underlined">
                <div class="col">
                    <h3 class="lgTitle shadowHeading mb-0">
                        {% trans 'Featured Work' %}
                    </h3>
                </div>
                <div class="col-auto">
                    <a href="{% url 'main_site:portfolio' %}" class="simpleLink">
                        {% trans 'View All' %}
                    </a>
                </div>
            </div>
            <p>
                {% trans 'Here are some more of my projects' %}:
            </p>
            <div class="position-relative">
                <div class="swiper portfolioSlider">
                    <div class="swiper-wrapper">
                        {% for project in projects %}
                            <div class="swiper-slide">
                                <div class="m-auto g-4 align-items-center p-4 rounded primaryDark w-75">
                                    <div class="col-md-auto">
                                        <figure class="cardImgCol rounded">
                                            <img
                                                src="{{ project.images.first.image.url }}"
                                                alt="{{ project.name }}"
                                                class="rounded"
                                                data-bs-toggle="popover"
                                                data-bs-placement="bottom"
                                                data-bs-trigger="hover"
                                                title="{{ project.name }}"
                                                data-bs-content="{{ project.description }}"
                                                data-bs-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header projectTitle"></h3><div class="popover-body"></div></div>'
                                            >
                                        </figure>
                                    </div>
                                    <div class="col-md">
                                        <div class="w-80 m-auto">
                                            <div class="d-flex justify-content-between my-4">
                                                <h3 class="mdTitle">
                                                    {% if project.live_url %}
                                                        <a
                                                            href="{{ project.live_url }}"
                                                            target="_blank"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom"
                                                            title="{% trans 'Visit site' %}"
                                                        >
                                                            {{ project.name }}
                                                        </a>
                                                    {% else %}
                                                        {{ project.name }}
                                                    {% endif %}
                                                </h3>
                                                <span>
                                                    <a
                                                        href="{{ project.source_code_url }}"
                                                        target="_blank"
                                                        class="codeLink d-inline-block text-center p-2 ms-1 rounded-pill"
                                                    >
                                                        {% trans 'Source Code' %}
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if projects|length > 1 %}
                        <div class="swiper-button-prev swiper-button-prev-main"></div>
                        <div class="swiper-button-next swiper-button-next-main"></div>
                        <div class="swiper-pagination"></div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}