{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- User Information -->
    <section>
        <div class="bannerSection vh-100">
            <div class="container">
                <div class="bannerGrid g-4 g-md-3 align-items-center">
                    <!-- User Avatar -->
                    <div class="col-md-auto order-md-last right">
                        <figure class="bannerUserImg rounded-circle position-relative">
                            <img
                                src="{% static 'images/avatar.jpg' %}"
                                alt="avatar"
                                class="rounded-circle position-relative"
                            />
                        </figure>
                    </div>
                    <div class="col-md top-left">
                        <h1 class="xlTitle pb-3 shadowHeading">
                            {{ me.name }}
                        </h1>
                        <p class="lgTitle subtitle shadowHeading">{{ me.title }}</p>
                    </div>
                    <div class="col-md bottom-left">
                        <!-- User Info -->
                        <div class="bannerContent">
                            <p>{{ me.bio }}</p>
                            <div class="bannerBtnCol pt-1">
                                <div class="row">
                                    <div class="col-auto">
                                        <a
                                            href="{% static 'files/resume2023.pdf' %}"
                                            download
                                            class="btn btnPrimary"
                                        >
                                            {% trans 'Download Resume' %}
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <a
                                            href="{% url 'main_site:contact' %}"
                                            class="btn btnOutline"
                                        >
                                            {% trans 'Contact' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects Section -->
    <section>
        <div class="mt-5 py-5">
            <div class="container">
                <div class="row underlined">
                    <div class="col">
                        <h3 class="lgTitle shadowHeading">{% trans 'Featured Work' %}</h3>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'main_site:portfolio' %}" class="simpleLink">
                            {% trans 'View All' %}
                        </a>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="swiper portfolioSlider">
                        <div class="swiper-wrapper">
                            {% for project in projects %}
                                <div class="swiper-slide">
                                    <div class="cardStyle1 g-4 align-items-center">
                                        <div class="col-md-auto">
                                            <div class="cardImgCol">
                                                <img src="{{ project.images.first.image.url }}" alt="{{ project.name }}">
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="portfolioContentCol">
                                                <div class="projectHeading">
                                                    <h4 class="mdTitle">
                                                        {% if project.live_url %}
                                                            <a href="{{ project.live_url }}" target="_blank">
                                                                {{ project.name }}
                                                            </a>
                                                        {% else %}
                                                            {{ project.name }}
                                                        {% endif %}
                                                    </h4>
                                                    <span class="dateLbl">
                                                        <a
                                                            href="{{ project.source_code_url }}"
                                                            target="_blank"
                                                        >
                                                            {% trans 'Source Code' %}
                                                        </a>
                                                    </span>
                                                </div>
                                                <p>{{ project.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if projects|length > 1 %}
                            <div class="swiper-button-prev swiper-button-prev-main"></div>
                            <div class="swiper-button-next swiper-button-next-main"></div>
                            <div class="swiper-pagination"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Certificates Section -->
    <section>
        <div class="mt-5 py-5">
            <div class="container">
                <div class="row underlined">
                    <div class="col">
                        <h3 class="lgTitle shadowHeading">{% trans 'Certificates' %}</h3>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="swiper certificatesSlider">
                        <div class="swiper-wrapper">
                            {% for cert in certificates %}
                                <div class="swiper-slide">
                                    <div class="cardStyle1">
                                        <h4 class="mdTitle cs1Title">{{ cert.name }}</h4>
                                        <figure class="cardImgCol">
                                            <img src="{{ cert.image.url }}" alt="{{ cert.name }}" />
                                        </figure>
                                        <ul class="cardOptionCol">
                                            <li>{{ cert.date.date }}</li>
                                            <li>{{ cert.issued_by }}</li>
                                        </ul>
                                        <p>{{ cert.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if certificates|length > 1 %}
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-pagination"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}