{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Projects{% endblock %}

{% block content %}

    <section class="bannerSection">
        <div class="innerPageBannerCol">
            <div class="container">
                <div class="row g-4 g-md-3 align-items-center">
                    <div class="col-md-6">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-md-3">
                                {% trans "Here are some of my recent projects:" %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="lightBg p-5">
            <div class="container">
                <div class="portfolioContentMain">
                    <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
                        {% for row in object_list %}
                            <div class="col-md-6 pColMain">
                                <div class="pCol">
                                    {% if row.live_url %}
                                        <a href="{{ row.live_url }}" target="_blank">
                                            <h3 class="smTitle">{{ row.name }}</h3>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'main_site:portfolio_detail' row.slug %}">
                                            <h3 class="smTitle">{{ row.name }}</h3>
                                        </a>
                                    {% endif %}
                                    <img
                                        src="{{ row.image.url }}"
                                        alt="{{ row.name }}"
                                        class="pImg"
                                    />
                                    <p>{{ row.description }}</p>
                                    <a href="{{ row.source_code_url }}" target="_blank">
                                        {% trans 'Source Code' %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}