{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    {% include 'partials/top_heading.html' %}

    <section>
        <div class="sectionSpaceSm">
            <div class="container">
                <figure>
                    <img src="{{ object.image.url }}" alt="{{ object.name }}" />
                </figure>
                <p>{{ object.description }}</p>
                <p>View <a href="{{ object.source_code_url }}">source code</a></p>
            </div>
        </div>
    </section>
{% endblock %}