{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Projects{% endblock %}

{% block content %}

    <section>
        <div class="innerPageBannerCol mt-5">
            <div class="container">
                <div class="row g-4 g-md-3 align-items-center">
                    <div class="col-md-6">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-md-3 shadowHeading">
                                {% trans "Here are some of my recent projects:" %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="sliderOuter">
                <div class="swiper portfolioSlider">
                    <div class="swiper-wrapper">
                        {% for row in object_list %}
                            <div class="swiper-slide">
                                <div class="cardStyle1 g-4 align-items-center w-90">
                                    <div class="col-md-auto">
                                        <div class="swiper imageSlider">
                                            <div class="swiper-wrapper">
                                                {% for image in row.images.all %}
                                                    <div class="swiper-slide align-items-center">
                                                        <figure class="cardImgCol">
                                                            <img
                                                                src="{{ image.image.url }}"
                                                                alt="{{ row.name }}"
                                                                class="d-block projectImg"
                                                            >
                                                        </figure>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="swiper-button-prev-img swiper-button-prev"></div>
                                            <div class="swiper-button-next-img swiper-button-next"></div>
                                            <div class="swiper-pagination-img swiper-pagination"></div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="portfolioContentCol">
                                            <div class="projectHeading">
                                                <h3 class="mdTitle">
                                                    {% if row.live_url %}
                                                        <a href="{{ row.live_url }}" target="_blank">
                                                            {{ row.name }}
                                                        </a>
                                                    {% else %}
                                                        {{ row.name }}
                                                    {% endif %}
                                                </h3>
                                                <span class="dateLbl">
                                                    <a href="{{ row.source_code_url }}" target="_blank">
                                                        {% trans 'Source Code' %}
                                                    </a>
                                                </span>
                                            </div>
                                            <p>{{ row.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev-main swiper-button-prev"></div>
                    <div class="swiper-button-next-main swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}