{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Projects{% endblock %}

{% block content %}

    <section>
        <div class="innerPageBannerCol mt-5">
            <div class="container">
                <div class="row g-4 g-md-3 align-items-center">
                    <div class="col-md-6">
                        <div class="bannerContent">
                            <h1 class="xlTitle pb-md-3 shadowHeading">
                                {% trans "Here are some of my recent projects:" %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="position-relative">
                <div class="swiper portfolioSlider">
                    <div class="swiper-wrapper">
                        {% for row in object_list %}
                            <div class="swiper-slide">
                                <div class="m-auto g-4 align-items-center w-90 p-4 lightBg rounded w-75">
                                    <div class="col-md-auto">
                                        <div class="carousel slide" id="imgSlideshow{{ row.id }}">
                                            {% if row.images.all|length > 1 %}
                                                <div class="carousel-indicators">
                                                    {% for image in row.images.all %}
                                                        <button
                                                            type="button"
                                                            data-bs-target="#imgSlideshow{{ row.id }}"
                                                            data-bs-slide-to="{{ forloop.counter0 }}"
                                                            {% if forloop.counter0 == 0 %}
                                                                class="active"
                                                            {% endif %}
                                                        ></button>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <div class="carousel-inner">
                                                {% for image in row.images.all %}
                                                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                                        <figure class="cardImgCol rounded">
                                                            <img
                                                                src="{{ image.image.url }}"
                                                                alt="{{ row.name }}"
                                                                class="d-block m-auto rounded"
                                                            >
                                                        </figure>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            {% if row.images.all|length > 1 %}
                                                <button
                                                    class="carousel-control-prev"
                                                    data-bs-slide="prev"
                                                    type="button"
                                                    data-bs-target="#imgSlideshow{{ row.id }}"
                                                >
                                                    <span class="carousel-control-prev-icon"></span>
                                                </button>
                                                <button
                                                    class="carousel-control-next"
                                                    data-bs-slide="next"
                                                    type="button"
                                                    data-bs-target="#imgSlideshow{{ row.id }}"
                                                >
                                                    <span class="carousel-control-next-icon"></span>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="portfolioContentCol m-auto">
                                            <div class="d-flex justify-content-between my-4">
                                                <h3 class="mdTitle">
                                                    {% if row.live_url %}
                                                        <a href="{{ row.live_url }}" target="_blank">
                                                            {{ row.name }}
                                                        </a>
                                                    {% else %}
                                                        {{ row.name }}
                                                    {% endif %}
                                                </h3>
                                                <span>
                                                    <a
                                                        href="{{ row.source_code_url }}"
                                                        target="_blank"
                                                        class="codeLink d-inline-block text-center p-2 ms-1 rounded-pill"
                                                    >
                                                        {% trans 'Source Code' %}
                                                    </a>
                                                </span>
                                            </div>
                                            <p class="mb-0">{{ row.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev-main swiper-button-prev"></div>
                    <div class="swiper-button-next-main swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}