{% load static %}
{% load i18n %}

<footer class="footer mt-auto">
    <div class="footerCol text-center">
        <div class="container">
            <ul class="socialCol">
                <li class="d-inline-block">
                    <a
                        href="https://github.com/ImpendingKataclysm"
                        target="_blank"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="GitHub"
                    >
                        <img
                            src="{% static 'images/github.svg' %}"
                            alt="Github logo"
                        />
                    </a>
                </li>
                <li class="d-inline-block position-relative">
                    <a
                        href="https://ca.linkedin.com/in/katie-janzen-7368272a4?trk=profile-badge"
                        target="_blank"
                        id="linkedin-link"
                    >
                        <img
                            src="{% static 'images/linkedin_logo.png' %}"
                            alt="LinkedIn logo"
                        />
                        <!-- LinkedIn Badge Template -->
                        <div id="linkedin-badge" class="hidden position-fixed top-50">
                            <div
                                class="badge-base LI-profile-badge"
                                data-locale="en_US"
                                data-size="medium"
                                data-theme="dark"
                                data-type="VERTICAL"
                                data-vanity="katie-janzen-7368272a4"
                                data-version="v1"
                            >
                                <a
                                    class="badge-base__link LI-simple-link"
                                    href="https://ca.linkedin.com/in/katie-janzen-7368272a4?trk=profile-badge"
                                >
                                    Katie Janzen
                                </a>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="copyrightCol">
                <p class="m-0 small">
                    {% trans 'Copyright' %}
                    {% now 'Y' %}.
                    {% trans 'All rights reserved' %}.
                    {% trans 'Created by' %} Katie Janzen
                </p>
            </div>
        </div>
    </div>
</footer>
