{% load static %}
{% load i18n %}

<footer class="footer mt-auto">
    <div class="footerCol text-center">
        <div class="container">
            <ul class="socialCol">
                <li class="d-inline-block">
                    <a href="https://github.com/ImpendingKataclysm" target="_blank">
                        <img src="{% static 'images/github.svg' %}" alt="Github logo" />
                    </a>
                </li>
            </ul>
            <div class="copyrightCol">
                <p>
                    <small>
                        {% trans 'Copyright' %}
                        {% now 'Y' %}.
                        {% trans 'All rights reserved' %}.
                        {% trans 'Created by' %} Katie Janzen
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>