{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

<div class="language_wrap">
    <ul class="languages">
        {% for language in languages %}
            <li>
                {% with request.path|slice:"3:" as trimmed_path %}
                    <a href="/{{ language.code }}{{ trimmed_path }}">
                        <img
                            src="{% static 'images/'|add:language.code|add:'.png' %}"
                            alt="{{ language.code }}">
                    </a>
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</div>