@import url('https://fonts.googleapis.com/css2?family=Lato&family=Signika+Negative:wght@600&display=swap');

:root {
    --bgColor: #151535;
    --lightBg: #4a639f;
    --primaryColor: #1c79d0;
    --primaryDarkColor: #2a4876;
    --secondaryDarkColor: #123172;
    --baseColor: #cdddff;
    --shadowColor: rgba(0, 0, 0, 0.2);
    --baseFont: 'Lato', sans-serif;
    --titleFont: 'Signika Negative', sans-serif;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--baseFont);
    background-color: var(--shadowColor);
    color: var(--baseColor);
    line-height: normal;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--bgColor), var(--secondaryDarkColor)) no-repeat;
    background-size: cover;
    z-index: -2;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li, p, dd {
    font-size: 1.3rem;
}

.lightBg {
    background-color: var(--lightBg);
}

.primaryDark {
    background-color: var(--primaryDarkColor);
}

/* Titles and Text */

.xlTitle {
    font-size: 2.9rem;
    line-height: normal;
    font-family: var(--titleFont);
    font-weight: var(--bold);
}

.lgTitle {
    font-size: 2.5rem;
    font-weight: var(--bold);
    font-family: var(--titleFont);
}

.mdTitle {
    font-size: 1.8rem;
    line-height: normal;
    font-family: var(--titleFont);
    font-weight: var(--bold);
}

.smTitle {
    font-size: 1.4rem;
    line-height: normal;
    font-family: var(--titleFont);
    font-weight: var(--regular);
}

.subtitle {
    font-style: italic;
}

.shadowHeading {
    text-shadow: 1px 1px 5px var(--primaryColor);
}

.underlined {
    border-bottom: 2px solid var(--baseColor);
    margin-bottom: 1.5rem;
}

/* Links and Buttons */

a {
    color: inherit;
}

a:hover {
    color: var(--primaryColor);
    text-shadow: 1px 1px 5px var(--secondaryDarkColor);
}

a, .btn {
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    text-decoration: none;
}

a.simpleLink {
    font-size: 1.2rem;
}

.btn {
    font-size: 1.5rem;
    font-weight: var(--medium);
    padding: 0.5rem 1.25rem;
    border-radius: 0.1rem;
}

.btn:focus, .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.btnPrimary, .projectTitle {
    background-color: var(--primaryColor);
    color: var(--bs-white);
}

.btnPrimary:hover, .btnPrimary:focus {
    background-color: var(--primaryDarkColor);
    color: var(--bs-white);
}

.btnOutline {
    border: 1px solid var(--baseColor);
    color: var(--baseColor);
}

.btnOutline:hover, .btnOutline:focus {
    border: 1px solid var(--primaryDarkColor);
    background-color: var(--primaryDarkColor);
    color: var(--bs-white);
}

/* Header */

.headerCol {
    padding: 1.1rem 0;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    position: fixed;
    z-index: 99;
    left:0;
    right: 0;
    top: 0;
}

.fixedHeader .headerCol {
    padding: 0.6rem 0;
    -webkit-box-shadow: 0 0 1.5rem var(--shadowColor);
    box-shadow: 0 0 1.5rem var(--shadowColor);
}

.logoCol {
    max-width: 6.5rem;
}

/* Language Selection */

.tooltip.language-tooltip .tooltip-inner {
    background-color: var(--baseColor);
    color: var(--secondaryDarkColor);
    font-size: 1.2rem;
}

.lang-flag {
    max-width: 3rem;
    box-shadow: 1px 1px 3px var(--primaryColor),
                -1px -1px 3px var(--primaryColor);
    transition: all 300ms ease-in-out 0s;
}

.lang-flag:hover, .lang-flag:focus {
    box-shadow: 1px 1px 6px var(--baseColor),
                -1px -1px 6px var(--baseColor);
}

/* Navigation Bar */

.navCol {
    text-align: right;
}

.navCol a {
    font-size: 1.4rem;
    font-weight: var(--medium);
    color: #fff;
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 8px var(--primaryColor);
}

.navCol a:hover {
    color: var(--primaryColor);
}

.navCol a:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primaryColor);
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    opacity: 0;
}

.navCol a.active::before {
    opacity: 1;
    width: 1.41rem;
    right: auto;
    left: 0;
}

.navCol a:hover::before, .navCol a:focus::before {
    opacity: 1;
    left: 0;
    right: 0;
}

.navCol a.active {
    color: var(--primaryColor);
}

.navCol li {
    display: inline-block;
}

.navCol li + li {
    padding-left: 2rem;
}

.navToggle {
    padding: 0.99rem 0.75rem;
    width: 1.1rem;
    height: 2px;
    box-sizing: content-box;
    background-clip: content-box;
    -webkit-transition: background-color 500ms ease-in-out 250ms;
    -o-transition: background-color 500ms ease-in-out 250ms;
    transition: background-color 500ms ease-in-out 250ms;
    background-color: #000;
    border: 1px solid var(--shadowColor);
}

.navToggle:hover {
    cursor: pointer;
}

.navToggle:before, .navToggle:after {
    position: relative;
    content: "";
    display: block;
    width: 1.1rem;
    height: 2px;
    background-color: #000;
    -webkit-transition: transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.navToggle:before {
    top: -0.3rem;
}

.navToggle:after {
    bottom: -0.2rem;
}

.navToggle__text {
    display: none;
}

body.navToggleActive {
    overflow: hidden;
}

.navToggleActive .navToggle {
    background-color: rgba(255, 255, 255, 0);
    transition-delay: 0s;
}

.navToggleActive .navToggle:before, .navToggleActive .navToggle:after {
    -ms-transform: translateY(0.3rem) rotate(-225deg);
    transform: translateY(0.3rem) rotate(-225deg);
}

/* Page Headings */

.innerPageBannerCol {
    padding: 0;
}

/* Footer */

.footerCol {
    padding: 3.1rem 0;
}

.socialCol li + li {
    padding-left: 0.7rem;
}

.socialCol img {
    max-width: 3rem;
    -o-object-fit: contain;
    object-fit: contain;
}

.copyrightCol {
    padding: 1.2rem 0 0;
    font-size: 0.8rem;
}

/* Toggle Visibility */

#linkedin-badge {
    z-index: 1;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Home Page */

/* Banner Section */

.bannerSection {
    padding: 11.25rem 0 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.bannerSection .container {
    grid-row: 2 / span 1;
}

.bannerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bannerGrid .right {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.bannerContent {
    text-shadow: 3px 3px 5px var(--bgColor);
}

.bannerUserImg {
    box-shadow: 1px 1px 10px var(--primaryDarkColor),
                -1px -1px 10px var(--primaryDarkColor),
                -1px 1px 10px var(--primaryDarkColor),
                1px -1px 10px var(--primaryDarkColor);
}

.bannerUserImg img {
    -o-object-fit: cover;
    object-fit: cover;
}

/* Technologies Section */

.tech-grid {
    display: flex;
    gap: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.tech-img {
    min-width: 2rem;
}

/* Sliders */

.swiper-slide > p:last-child {
    margin-bottom: 0;
}

.swiper-slide h3, .swiper-slide p, .swiper-slide li {
    text-shadow: 1px 1px 10px var(--secondaryDarkColor);
}

.nextItem:before {
    content: '|';
    position: absolute;
    left: 1rem;
}

.swiper-button-prev-main,
.swiper-button-next-main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev-main {
    left: 0;
}

.swiper-button-next-main {
    right: 0;
}

.cardImgCol img {
    -o-object-fit: cover;
    object-fit: cover;
}

.codeLink {
    background-color: var(--secondaryDarkColor);
    color: #fff;
    font-size: 1.2rem;
    font-weight: var(--bold);
}

/* Contact Page */

label {
    color: var(--primaryDarkColor);
    opacity: 1;
}

/* For larger screens */

@media screen and (min-width: 992px) {
    .container {
        max-width: 55.6rem;
    }

    .headerCol .container-fluid {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

@media screen and (min-width: 1200px) {
    .headerCol .container-fluid {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }
}

/* For smaller screens */

@media screen and (max-width: 1199px) {
    .xlTitle {
        font-size: 2.5rem;
    }

    .lgTitle {
        font-size: 2.3rem;
    }

    .btn {
        font-size: 1.3rem;
    }

    .footerCol {
        padding: 1.8rem;
    }

    .bannerSection {
        padding: 9.3rem 0 3.6rem;
    }
}

@media screen and (max-width: 991px) {

    body {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 1.2rem;
    }

    .xlTitle {
        font-size: 2.2rem;
    }

    .lgTitle {
        font-size: 2rem;
    }

    .smTitle {
        font-size: 1.2rem;
    }

    .innerPageBannerCol {
        padding: 5.5rem 0 3.1rem;
    }

    .bannerUserImg {
        margin-left: 1.25rem;
    }
}

@media screen and (max-width: 932px) {
    .home_content {
        margin-top: 100vh;
    }
}

@media screen and (max-width: 912px) {
    .home_content {
        margin-top: 15rem;
    }
}

@media screen and (max-width: 770px) {

    .headerCol, .fixedHeader .headerCol {
        padding: 0.3rem 0;
    }

    .logoCol img {
        width: 3.1rem;
    }

    .navCollapseCol {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 14.3rem;
        padding: 1.2rem;
        background-color: var(--primaryDarkColor);
        z-index: 99;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
        transition: all 300ms ease-in-out 0s;
    }

    .navToggleActive .navCollapseCol {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .navCol {
        text-align: left;
    }

    .navCol li + li {
        padding-left: 0;
    }

    .navCol li {
        padding: 0.3rem 0;
        display: block;
    }

    .navCol a::before {
        display: none;
    }

    .navCol a:hover, .navCol a:focus, .navCol a.active {
        color: var(--bs-white);
        opacity: 1;
    }

    .bannerGrid {
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }

    .bannerGrid .right {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .bannerGrid .bottom-left {
        grid-row: 2;
        grid-column: 1 / span 2;
        margin-top: 1.1rem;
    }

    .footerCol {
        padding: 1.2rem;
    }

    .socialCol img {
        max-width: 1.2rem;
        max-height: 1.2rem;
    }

    .socialCol li + li {
        padding-left: 1.2rem;
    }

    .copyrightCol {
        padding: 0.9rem 0 0;
        font-size: 0.7rem;
    }

    .bannerSection {
        padding: 7.5rem 0 3.1rem;
    }

    .bannerUserImg {
        margin-left: 0;
    }

    .home_content {
        margin-top: 10rem;
    }

    .tech-grid {
        display: block;
    }
}

@media screen and (max-width: 575px) {

    .btn {
        font-size: 0.9rem;
    }

    .xlTitle {
        font-size: 1.9rem;
    }

    .lgTitle {
        font-size: 1.7rem;
    }

    .home_content {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 380px) {
    .xlTitle {
        font-size: 1.8rem;
    }

    .lgTitle {
        font-size: 1.5rem;
    }

    .mdTitle {
        font-size: 1.3rem;
    }

    p, dd, li {
        font-size: 0.9rem;
    }

    a.simpleLink {
        font-size: 0.8rem;
    }

    .btn {
        padding: 0.9rem;
    }

    .codeLink {
        font-size: 0.8rem;
    }
}
