{% extends 'project3/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
    <section>
        <h2>Our Mission</h2>
        <div class="flex-container">
            <div>
                <img
                    src="{% static 'project3/images/about1.jpg' %}"
                    alt="..."
                    class="display-img"
                >
            </div>
            <div>
                <p>{% lorem %}</p>
                <p>{% lorem %}</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Our History</h2>
        <div class="flex-container">
            <div>
                <p>{% lorem %}</p>
                <p>{% lorem %}</p>
            </div>
            <div>
                <img src="{% static 'project3/images/about2.jpg' %}"
                     alt="..."
                     class="display-img"
                >
            </div>
        </div>
    </section>
{% endblock %}